/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
body {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  background-color:#787878;
}
.container{max-width:95%;min-width:95%;padding:0;margin-top:0;margin-bottom:30px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;}
#page{background-color:#fff;}
#masthead{height:143px;background-color:#170808;color:#fff;-webkit-border-top-left-radius: 20px;
-webkit-box-shadow: inset 0px 1px 2px 1px #605555;
box-shadow: inset 0px 1px 2px 1px #605555;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;}
a.name {
  color: #FFFFFF;
  font-size: 34px;
  padding-top: 40px;
}
.bgbody{background:url(../images/body-bg.png)repeat-x;}
#toolbar{float:left;}
#suckerfishmenu {
  /*background: url("/sites/all/themes/litejazz/images/blue/menu-bg.png") repeat-x scroll 0 0 #104A91;*/
  line-height: 28px;
}

body .region-content .content > .field-name-body:after {
    clear: both;
}
body .region-content .content > .field-name-body:before, .region-content > .field:after {
    content: " ";
    display: table;
}
body .region-content .node .content > .field-name-body:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#SmartPlayer_0{float:none;width:100%;margin:0 auto;display:block;max-width:100%;height:auto;
  }
  //body .region-content .content .field-type-taxonomy-term-reference{float:left;}

#SmartPlayer_0 #adaptvDiv0 {position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;}
a#vdo{width:100%;height:auto;}
#SmartPlayer_0 #adaptvDiv0 object{position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;}

body .region-content .stButton .stBubble_count {
  background: -moz-linear-gradient(center top , #D5D5D5 0px, #EFEFEF 48%, #FFFFFF 94%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  color: #000000;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 18px;
  height: auto;
  padding-bottom: 13px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 58px;
  z-index: -1;
}
.region-sidebar-first .block, .region-sidebar-second .block{margin-bottom:30px;}
.block.block-block p span span div span {height:auto;}
object, img, body iframe{max-width:100%;}
.region-content .center {
  width: 100%;
  height: auto;
  margin:0 auto;
  display:block;
  float:none;
}
.region-content .content .field-name-body {
clear: both;
margin-top: 0;
padding-top: 10px;
}
.block.block-block{min-width:100%;}
.nav-tabs{width:100%;}
.radio label, .checkbox label {
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
}
object{width:100%;}
//.node-teaser .block.block-block {display:none;}
.navbar.container {
  max-width:100%;
  margin:0;
  padding:0;
  border-radius:0;
}
.region-content .field-type-taxonomy-term-reference:not(:last-of-type) .field-item:not(:last-of-type) > a:after {
  content: ",\00a0";

/*.region-content .field-type-taxonomy-term-reference .field-item.even > a:before {
  content: "";
}*/
}
.region-highlighted input, aside input{margin:0 auto;}
.region-content{float:none;}
.tabs--primary{clear:left;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}
nav .nav > li > a {
  line-height: .7;
  padding-bottom: 10px;
  padding-top: 10px;
  color:#fff;
  border-right:1px solid #999;
}
.node-sticky{background-color:#eee;}
body .navbar {
  border:0;
  margin-bottom: 0;
  position: relative;
  z-index: 1000;
  min-height:30px;
}
.statistics_counter span{font-weight:normal;font-size:14px;}
body .bgbody .main-container .row{margin-top:10px;}
.navbar-inverse .nav > li > a {
  color: #fff;
  font-weight:bold;
}
.region-content .field-type-taxonomy-term-reference .field-item {float:left;}
.region-content .field-type-taxonomy-term-reference {
  float: none;
  font-size: 11px;
  display:inline;
}

.region-content .node h2 a{color:#104A91;font-weight:bold;font-size:22px;}
.submitted{font-style:normal;color:#104A91;font-size:.8em;}
.region-content .field-name-field-image{text-align:center;}
.region-content .content .field-name-body {clear:left;margin-top:0px;padding-top:10px;}
.navbar-inverse .nav > .active > a, .navbar-inverse .nav > .active > a:hover, .navbar-inverse .nav > .active > a:focus {
  background-color: rgba(8, 8, 8, .5);
  color: #FFFFFF;
}
ul, ol {
  margin-bottom: 10px;
  margin-top: 0;
  padding-left:8%;
}
.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:focus {
  background-color: rgba(8, 8, 8, .5);
  color: #FFFFFF;
}

.navbar-inverse h2.block-title{display:none;}
.footer.container{background-color:#170808;color:#fff;min-height:54px;margin:0;padding:0;min-width:100%;max-width:100%;
-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius:0;
border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-webkit-border-top-left-radius:0;
-moz-border-top-right-radius:0;
-moz-border-top-left-radius:0;
line-height:54px;
}
.footer .region-footer{vertical-align:middle;}
.region-footer{text-align:center;}
.region-footer a {color:#ADADAD;font-weight:bold;}
.block h2.block-title ,h3{
  margin-top: 0;
  color:#104A91;
  font-size:125%;
  font-weight:bold;
}
body .form-type-textfield.form-item-openid-identifier.form-item.form-group {
  display: none;
}
aside .well {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 0;
}
 .links.list-inline{
 color:#104A91;
  font-size:100%;
  font-weight:bold;
 }
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
.comment {
  border: 1px solid #104A91;
}
.comment {
  margin-bottom: 1em;
  padding: 0.5em;
}
h2, .h2, h1 {font-size:25px;color:#104A91;font-weight:bold;}
a{color:#104A91;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #104A91;
  border-color: #104A91;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}
.node-teaser {
  border-bottom: 1px solid #DDDDDD;
  padding: 0.5em;
}
.logo{float:left;}
.lead{clear:left;float:left;
  margin-left: 17px;
  margin-top: 10px;
  font-size:18px;
}
.region-sidebar-first #block-search-form{display:none;}
.region-sidebar-first #block-system-user-menu{display:none;}
.region-sidebar-second .search-sidebar-second{display:block;}
.region-sidebar-second #user-login-form{display:block;}
.region-sidebar-first #block-user-login{display:none;}
.region-sidebar-first #block-apachesolr-search-mlt-001{display:none;}
@media screen and (min-width:768px){
body .nav > li {
  float: left;
}
.region-sidebar-first #block-search-form{display:block;}
.region-sidebar-first #block-system-user-menu{display:block;}
.region-sidebar-first #block-user-login{display:block;}
.region-sidebar-first #block-apachesolr-search-mlt-001{display:block;}
body .user-login-second{display:none;}
body .search-sidebar-second{display:none;}
a.name {
  color: #FFFFFF;
  font-size: 45px;
  padding-top: 40px;
}
  .navbar-inverse {
  background:#555;
  border-color: #080808;
}

.region.region-sidebar-second {
  font-size: 10px;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  border-top: 1px solid #DDDDDD;
  line-height: 1.42857;
  padding: 0 1%;
  vertical-align: top;
}
}
@media screen and (min-width:992px){
.region.region-sidebar-second {
  font-size: 13px;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  border-top: 1px solid #DDDDDD;
  line-height: 1.42857;
  padding: 1px;
  vertical-align: top;
}


}
@media screen and (min-width:1200px){
.navbar-inverse {
  background: url("/sites/all/themes/megaleecher_subtheme/images/menu-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  border-color: #080808;
  border-radius: 0 0 0 0;
  color: #FFFFFF;
  display: block;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  border-top: 1px solid #DDDDDD;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}
body .nav > li {
  float: left;
}

}
